.App {
  text-align: center;
}

.header {
  background-color: #363b74;
  color: #ffb2d2;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;

}

.title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 55px;

}

.main-content {
  margin: 10px 0px 20px 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.dog-entry {
  max-height: 200px;
  max-width: 200px;
  float: left;
  margin: 10px;
}

.dog-icon {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  border: 5px solid white;
}

.dog-name {
  text-align: center;
}

.search-bar {
  float: right;
  margin-top: -45px;
  margin-right: 15px;
}

.input-field {
  width: 200px;
  height: 20px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  background-color: #ffeef5;
    
}